			/**/
			/**/
			/**/
			/**/

.example1-button {
	width: 200px;
	height: 42px;
	margin: 20px auto;
	border-radius: 8px;
	font size: 50px;
	line-height: 33px;
	color: #fff;

	background: #B7DEED;
	text-shadow: 0px -1px 0px #98C4D5;
	box-shadow: inset 0 -10px 0px rgb(202, 191, 191);

	display: block;
	text-align: center;
	font-family: Helvetica;
	transition: all .1s ease;
}

.example1-button:hover {
	margin-top: 24px;
	height: 32px;
	box-shadow: inset 0 -2px 0 rgb(202, 191, 191);
	line-height: 30px;
}

.example1-button:active {
	margin-top: 27px;
	height: 29px;
	box-shadow: inset 0 0px 0 rgb(202, 191, 191);
	line-height: 30px;
}

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

.example2-sprite {
    border: 2px solid yellow;
		margin:20px auto;
    width: 200px;
    height: 288px;
    background-image: url(img/spritebig.png);
    
    -webkit-animation: play .8s steps(11) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

/*.book-example3 {
	width:450px;
	height:450px;
	margin:20px auto;
	border: 5px solid orange;
	position: relative;
	display: block;
}

.example3-character {
	float: left;
	position: inherit;
	left: 211px;
	top: 30px;
}

.example3-body {
		position: relative;
		left: -166px;
    -webkit-animation: breathe-body 3000ms infinite both ease-in-out;  
    -moz-animation: breathe-body 3000ms infinite both ease-in-out;  
}  

.example3-head {
		position: relative;  
		top: -27px;
		left: -250px;
    -webkit-animation: breathe-head 3000ms infinite both ease-in-out;  
    -moz-animation: breathe-head 3000ms infinite both ease-in-out;  
}  
.example3-bg {  
	position: relative;
	left: -122px;
	top: -15px;
    -webkit-animation: rotate-bg 10s infinite both ease-in-out alternate;  
    -moz-animation: rotate-bg 10s infinite both ease-in-out alternate;  
}  

@-webkit-keyframes breathe-head {  
  0% {  
      -webkit-transform: rotate(1deg) translate3d(0px, 0px, 0px);
  }  
  40% {  
      -webkit-transform: rotate(-3deg) translate3d(-2px, -1px, 0px);  
  }
  100% {  
      -webkit-transform: rotate(1deg) translate3d(0px, 0px, 0px);  
  }  
}  

@-webkit-keyframes breathe-body {  
    0% {  
        -webkit-transform: translate3d(0px,0px,0px);  
    }  
    40% {  
        -webkit-transform: translate3d(0px,-3px,0px);  
    }  
    100% '
    {  
        -webkit-transform: translate3d(0px,0px,0px);  
    }  
}  

@-webkit-keyframes rotate-bg {  

    0% {  
        -webkit-transform: translate3d(0px,0px,0px);  
        -webkit-transform: scale(.9,.9);
    }  
    100% {  
        -webkit-transform: translate3d(0px,0px,0px;  
        	-webkit-transform: scale(1,1);
    }  
}  */

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

.example4{
	width:200px;
	height:200px;
	margin:20px auto;
	background-color: transparent;
				-webkit-animation: words 1s all ease; 
			-webkit-animation-fill-mode: forwards; 
}

.ball-container {
	width:200px;
	height:200px;
	margin:20px auto;
	background-color: #000;
	transition: all 5s ease;
}

.pretty-ball {
	margin: -2px;
	position: relative;
	display: inline-block;
	top: 13px;
	color: rgba(0,0,0, 0);
	background: transparent;
	width: 30px;
	height: 30px;
	border: 3px solid white;
	border-radius: 30px;
	transition: background-color .5s ease,
							border-radius 5s 10s ease,
							box-shadow .1s ease;
}

.pretty-ball:hover {
	box-shadow: 0px 0px 10px 3px white;
	background-color: beige;
}

.pretty-ball:active {
	box-shadow: 0px 0px 15px 3px white,
							inset 0px 0px 20px 3px white;
	background-color: rgb(255, 255, 161);
	border-color: yellow;
	border-radius: 0px;
	transition: background-color .1s ease-out;
}

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

.example5-wrapper {
	width: 400px;
	margin: 20px auto;

}

.example5 {
  width: 350px;
  height: 220px;
  /*top: 60px;*/
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
 }

.example5-text {
	width: 320px;
  height: 200px;
  /*left: 37px;*/
	margin: 0 auto;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  position: relative;  
}

.example5-text-inside {
	font-family: 'Cinzel Decorative', cursive;
	width: 280px;
  height: 150px;
  margin: 0 auto;
	top: 15px;
	padding-top: 20px;
	padding-left: 16px;
  background: white;
  background-image: url(img/);
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 50px;
  color: rgba(227,227,227,0.5); 
}

/*.example5-text-inside:hover {
    animation: shake 1s infinite;
  -webkit-animation: shake 5s infinite alternate ease; 
} */

/*.example5-text:hover {
   animation: rattle 1s infinite;
  -webkit-animation: shake 2s infinite alternate ease-in-out; 
} */

/*@-webkit-keyframes shake {  
  0% {  
      -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }  
  40% {  
      -webkit-transform: rotate(-3deg) translate3d(-2px, -1px, 0px);  
  }
  100% {  
      -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);  
  }  
}  


@-webkit-keyframes rattle {  
  0% {  
      -webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }  
  40% {  
      -webkit-transform: rotate(-3deg) translate3d(-2px, -1px, 0px);  
  }
  100% {  
      -webkit-transform: rotate(1deg) translate3d(0px, 0px, 0px);  
  }  
}  */

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #a3b3bf;
}

h1 {
	font-family: 'Cinzel Decorative', cursive;
	margin: 10px;
	padding-top:40px;
	color: #363636;
}

h2 {
	font-family: 'Cinzel Decorative', cursive;
	margin: 20px;
	text-align: left;
	color: #363636;
}


p {
	font-family: helvetica;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
	text-align: left;
	color: #363636;
}

.wrapper {
	width:600px;
	margin:0 auto;
	background-color: #fff;
	text-align: center;
}

.container	{
	width:500px;
	margin:0 auto;
	padding-bottom:20px;
}

.book {
	width:450px;
	height:100%;
	margin:20px auto;
	border: 5px solid orange;
	position: relative;
	display: block;
	/*text-align: left;*/
}

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/


.example6-wrapper {
	margin: 20px auto;
}

.example6-box {
	margin: 0 auto;
	width: 100px;
	height: 90px;
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	overflow: hidden;
	-webkit-transition: all 1s ease;
 }

 .example6-hello {
 	font-family: 'Cinzel Decorative', cursive;
 	position: relative;
 	/*left: 10px;*/
 	color: white;
 	font-size:1px;

 }

 .example6-box:hover {
 	-webkit-transform: rotate(180deg);
 }

  .example6-box:hover .example6-hello {
  color: #363636;;
  font-size:30px;
	-webkit-transition: all 1s 1s linear;
 	-webkit-transform: rotate(180deg);
 }

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/


.example7-wrapper {
	margin: 20px auto;
}

.example7-box {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	position: relative;
	display: inline-block;
	background-color: beige;
	overflow: hidden;
	border-radius: 100px;
	-webkit-transform: scale(.8,.8);
	box-shadow: inset 0px 0px 20px rgba(204,204,171,0.5);
	transition: background-color .5s ease,
							border-radius .5s ease,
							box-shadow .1s ease;
}
 }

 .example7-box:hover {
 	border-radius: 0px;
 }

 .example7-box:active {
 	border-radius: 0px;
 	background-color: tan;
 	box-shadow: inset 0px 0px 10px rgba(166,133,88,0.5);
 	transition: all .5s ease;
 	-webkit-transform: rotate(180deg);
 }

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

.example8-wrapper {
	margin: 20px auto;
}	

.example8-bg {
	margin: 0 auto;
	width: 300px;
	height: 50px;
	position: relative;
	background-color: white;
	-webkit-transform: rotate(-2deg) skew(0,0);
	 box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.example8-core {
	margin: 0 auto;
	width: 340px;
	height: 40px;
	top: -45px;
	position: relative;
	background-color: white;
	-webkit-transform: rotate(0deg) skew(46deg,0);
	 box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.example8-name {
	 	font-family: 'Tinos', serif;
	 	text-transform: uppercase;
	 	position: relative;
	 	color: #F4F4F4;
	 	font-size: 38px;
	 	bottom:97px;
	 	/*left:15%;*/
	 	text-shadow:0px 1px 0px #ECECEC;
	 	-webkit-transform: rotate(0deg) skew(-8deg,0);
}







