			/**/
			/**/
			/**/
			/**/

.example1-button {
	width: 200px;
	height: 42px;
	margin: 20px auto;
	border-radius: 8px;
	font size: 50px;
	line-height: 33px;
	color: #fff;

	background: #B7DEED;
	text-shadow: 0px -1px 0px #98C4D5;
	box-shadow: inset 0 -10px 0px rgb(202, 191, 191);

	display: block;
	text-align: center;
	font-family: Helvetica;
	transition: all .1s ease;
}

.example1-button:hover {
	margin-top: 24px;
	height: 32px;
	box-shadow: inset 0 -2px 0 rgb(202, 191, 191);
	line-height: 30px;
}

.example1-button:active {
	margin-top: 27px;
	height: 29px;
	box-shadow: inset 0 0px 0 rgb(202, 191, 191);
	line-height: 30px;
}

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

.example2-sprite {
    border: 2px solid yellow;
		margin:20px auto;
    width: 200px;
    height: 288px;
    background-image: url(img/spritebig.png);
    
    -webkit-animation: play .8s steps(11) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -2000px; }
}

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

/*.book-example3 {
	width:450px;
	height:450px;
	margin:20px auto;
	border: 5px solid orange;
	position: relative;
	display: block;
}

.example3-character {
	float: left;
	position: inherit;
	left: 211px;
	top: 30px;
}

.example3-body {
		position: relative;
		left: -166px;
    -webkit-animation: breathe-body 3000ms infinite both ease-in-out;  
    -moz-animation: breathe-body 3000ms infinite both ease-in-out;  
}  

.example3-head {
		position: relative;  
		top: -27px;
		left: -250px;
    -webkit-animation: breathe-head 3000ms infinite both ease-in-out;  
    -moz-animation: breathe-head 3000ms infinite both ease-in-out;  
}  
.example3-bg {  
	position: relative;
	left: -122px;
	top: -15px;
    -webkit-animation: rotate-bg 10s infinite both ease-in-out alternate;  
    -moz-animation: rotate-bg 10s infinite both ease-in-out alternate;  
}  

@-webkit-keyframes breathe-head {  
  0% {  
      -webkit-transform: rotate(1deg) translate3d(0px, 0px, 0px);
  }  
  40% {  
      -webkit-transform: rotate(-3deg) translate3d(-2px, -1px, 0px);  
  }
  100% {  
      -webkit-transform: rotate(1deg) translate3d(0px, 0px, 0px);  
  }  
}  

@-webkit-keyframes breathe-body {  
    0% {  
        -webkit-transform: translate3d(0px,0px,0px);  
    }  
    40% {  
        -webkit-transform: translate3d(0px,-3px,0px);  
    }  
    100% '
    {  
        -webkit-transform: translate3d(0px,0px,0px);  
    }  
}  

@-webkit-keyframes rotate-bg {  

    0% {  
        -webkit-transform: translate3d(0px,0px,0px);  
        -webkit-transform: scale(.9,.9);
    }  
    100% {  
        -webkit-transform: translate3d(0px,0px,0px;  
        	-webkit-transform: scale(1,1);
    }  
}  */

			/**/
			/**/
			/**/
			/**/
			/**/
			/**/
			/**/

.example4{
	width:200px;
	height:200px;
	margin:20px auto;
	background-color: transparent;
				-webkit-animation: words 1s all ease; 
			-webkit-animation-fill-mode: forwards; 
}

.ball-container {
	width:200px;
	height:200px;
	margin:20px auto;
	background-color: #000;
	transition: all 5s ease;
}

.pretty-ball {
	margin: -2px;
	position: relative;
	display: inline-block;
	top: 13px;
	color: rgba(0,0,0, 0);
	background: transparent;
	width: 30px;
	height: 30px;
	border: 3px solid white;
	border-radius: 30px;
	transition: background-color .5s ease,
							border-radius 5s 10s ease,
							box-shadow .1s ease;
}

.pretty-ball:hover {
	box-shadow: 0px 0px 10px 3px white;
	background-color: beige;
}

.pretty-ball:active {
	box-shadow: 0px 0px 15px 3px white,
							inset 0px 0px 20px 3px white;
	background-color: rgb(255, 255, 161);
	border-color: yellow;
	border-radius: 0px;
	transition: background-color .1s ease-out;
}











